.container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  border: 1px solid black;
  width: 100vw;
  height: 100vw;
}
.pixel {
  width: 20px;
  height: 20px;
}
.pixel:hover {
  background: green;
}
