body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  border: 1px solid black;
  width: 100vw;
  height: 100vw;
  background-color: white;
}
.pixel {
  width: 20px;
  height: 20px;
}
.pixel:hover {
  background: green;
}
.align {
  margin: 10px;
}
.align label {
  margin-left: 30px;
}
.title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
